<h1>Subreddit Index</h1>
<div>
  <%= link_to "Create a subreddit", new_subreddit_path %>
</div>
<% @subreddits.each do |subreddit| %>
  <h2><%= link_to subreddit.title, subreddit %></h2>
  <p><%= link_to "Edit subreddit", edit_subreddit_path(subreddit) %></p>
  <br>
<% end %>
