<div class="container">
  <h1> CREATE A SUBREDDIT</h1>

  <div class="row">
    <%= form_for(@subreddit) do |f| %>
    <%= f.label :title %>
    <%= f.text_field :title, :class => 'u-full-width' %>
    <%= f.submit 'Submit', :class => 'button-primary' %>
    <% end %>
  </div>
</div>
